<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QubeTrainer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

    <userSettings>
        <QubeTrainer.Properties.Settings>
            <setting name="F1HK" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="F2HK" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="F3HK" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="F4HK" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="F5HK" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="F6HK" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="F7HK" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="F8HK" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="F9HK" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="F10HK" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="F12HK" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="AutoDisc" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PtrCheck" serializeAs="String">
                <value>True</value>
            </setting>
        </QubeTrainer.Properties.Settings>
    </userSettings>
</configuration>